{% extends 'base.html' %}
{% block title %}Help - ChatApp{% endblock %}
{% block content %}
<h1 class="text-2xl font-bold mb-4">Help</h1>
<p class="mb-4">If you need assistance, please refer to the following resources:</p>
<ul class="list-disc pl-5">
    <li><a href="#" class="text-blue-500 hover:underline">User Guide</a></li>
    <li><a href="#" class="text-blue-500 hover:underline">FAQ</a></li>
    <li><a href="#" class="text-blue-500 hover:underline">Contact Support</a></li>
</ul>
{% endblock %}